{{#section 'head'}}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Edit Product</title>
    <meta name="description" content="">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/owl.theme.css">
    <link rel="stylesheet" href="/css/owl.transitions.css">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="/css/normalize.css">
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" href="/css/meanmenu.min.css">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- datapicker CSS
		============================================ -->
    <link rel="stylesheet" href="/css/datapicker/datepicker3.css">
    <!-- colorpicker CSS
		============================================ -->
    <link rel="stylesheet" href="/css/colorpicker/colorpicker.css">
    <!-- dropzone CSS
		============================================ -->
    <link rel="stylesheet" href="/css/dropzone/dropzone.css">
    <!-- educate icon CSS
		============================================ -->
    <link rel="stylesheet" href="/css/educate-custon-icon.css">
    <!-- modals CSS
		============================================ -->
    <link rel="stylesheet" href="/css/modals.css">
    <!-- morrisjs CSS
		============================================ -->
    <link rel="stylesheet" href="/css/morrisjs/morris.css">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- metisMenu CSS
		============================================ -->
    <link rel="stylesheet" href="/css/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="/css/metisMenu/metisMenu-vertical.css">
    <!-- calendar CSS
		============================================ -->
    <link rel="stylesheet" href="/css/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="/css/calendar/fullcalendar.print.min.css">
    <!-- x-editor CSS
		============================================ -->
    <link rel="stylesheet" href="/css/editor/select2.css">
    <link rel="stylesheet" href="/css/editor/datetimepicker.css">
    <link rel="stylesheet" href="/css/editor/bootstrap-editable.css">
    <link rel="stylesheet" href="/css/editor/x-editor-style.css">
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="/css/data-table/bootstrap-table.css">
    <link rel="stylesheet" href="/css/data-table/bootstrap-editable.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="/style.css">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- modernizr JS
		============================================ -->
    <link rel="stylesheet" href="/css/my-css.css">
    <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
{{/section}}

<div class="single-pro-review-area mt-t-30 mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="add-product">
                    <a href="#" style="color: black; position: relative; background: transparent; padding: 0px"><button data-toggle="modal" data-target="#DangerModalalert" title="Edit" class="pd-setting-ed"><i class="fa fa-trash-o" aria-hidden="true"></i></button></a>
                    <!-- <button title="Delete" class="pd-setting-ed" data-toggle="modal" data-target="#DangerModalalert" style="color: black; position: relative; background: transparent; padding: 0px"><i class="fa fa-trash-o" aria-hidden="true"></i></button> -->
                </div>
                <div class="product-payment-inner-st">
                    <ul id="myTabedu1" class="tab-review-design">
                        <li class="active"><a href="#description">Details</a></li>
                        <li><a href="#reviews">Images</a></li>
                        <li><a href="#INFORMATION">Reviews</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content custom-product-edit">
                        <div class="product-tab-list tab-pane fade active in" id="description">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="review-content-section">
                                        <form class="needs-validation" method="post" action="/products/update" name="editProductForm" id="edit-product-form" novalidate> 
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                    <label>Name:</label>
                                                    <div class="form-group">
                                                        <input name="editNameBox" type="text" class="form-control" value="Luxury Crazy Bunny" required>
														<div class="invalid-feedback">
															Please provide a valid name.
														</div>
													</div>
                                                    <label>Brand:</label>
                                                    <div class="form-group">
                                                        <select name="editBrandBox" class="form-control">
                                                            <option value="1" selected="">Crazy Bunny</option>
                                                            <option value="2">Moustache Monster</option>
                                                            <option value="3">Crazy Rockpanda</option>
                                                            <option value="4">Zombie Popsicle</option>
														</select>
                                                    </div>
                                                    <label>Category:</label>
                                                    <div class="form-group">
                                                        <select name="editCateBox" class="form-control">
                                                            <option value="1" selected="">T-Shirt</option>
                                                            <option value="2">Backpack</option>
                                                            <option value="3">Cap</option>
                                                            <option value="4">Sneaker</option>
                                                            </select>
                                                    </div>
                                                    <label>Created date:</label>
                                                    <div class="form-group">
                                                        <input name="birthdate" type="text" class="form-control" required value="16/11/2021" readonly="">
                                                    </div>
                                                    <label>Quantity sold:</label>
                                                    <div class="form-group">
                                                        <input  type="number" class="form-control" required value="11200" readonly="">
                                                    </div>

                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                    <label>Gender:</label>
                                                    <div class="form-group">
                                                        <select required name="editGenderBox" class="form-control">
                                                            <option value="1" selected="">Men</option>
                                                            <option value="2">Women</option>
                                                            <option value="3">Unisex</option>
                                                        </select>
                                                    </div>
                                                    <label>Summary description:</label>
                                                    <div class="form-group res-mg-t-15">
                                                        <input name="editSubDesBox" type="text" class="form-control"  value="Lorem ipsum dolor sit amet of">
														<div class="invalid-feedback">
															Please provide a valid description.
														</div>
													</div>
                                                    <label>Full description:</label>
                                                    <div class="form-group edit-ta-resize">
                                                        <textarea name="editDesBox" class="form-control" required>Lorem ipsum dolor sit amet of, consectetur adipiscing elitable. Vestibulum tincidunt est vitae ultrices accumsan.</textarea>
														<div class="invalid-feedback">
															Please provide a valid description.
														</div>
													</div>
                                                    <div class="form-group edit-ta-resize">
                                                        <input name="editFeatureBox" id="proFeature" type="checkbox" class="i-checks"/>
														<label for="proFeature">Mark as Feature Product</label> 
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="product-status-wrap drp-lst">
                                                        <h4>Attributes List</h4>
                                                        <div class="add-product">
                                                            <a href="#" data-toggle="modal" data-target="#addAttributesModal">Add Attributes</a>
                                                        </div>
                                                        <div class="asset-inner">
                                                            <table id="product-attri-table">
                                                                <tr>
                                                                    <th>No</th>
                                                                    <th>Color</th>
                                                                    <th>Size</th>
                                                                    <th>Quantity</th>
                                                                    <th>Price ($)</th>
                                                                    <th>Setting</th>
                                                                </tr>
                                                                <tr>
                                                                    <td>1</td>
                                                                    <td><input name="colors[]" class="my-attribute-input my-attribute-input-color" style="background: #39f5dc" readonly type="text" value="#39f5dc" /></td>
                                                                    <td><input name="sizes[]" class="my-attribute-input" readonly type="text" value="Small" /></td>
                                                                    <td><input name="quantity[]" class="my-attribute-input" readonly type="number" value="35"/></td>
                                                                    <td><input name="price[]" class="my-attribute-input" readonly type="number" value="100" /></td>
                                                                    <td>
                                                                        <a href="#" data-id="1" data-toggle="modal" data-target="#editAttributesModal" data-color="#39f5dc" data-size="Small" data-quantity="35" data-price="1500" style="color: black;"><button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a>
																		<button onClick="removeRow(1)" data-toggle="tooltip" title="Trash" class="pd-setting-ed" style="color: black; cursor:pointer"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>2</td>
                                                                    <td><input name="colors[]" class="my-attribute-input my-attribute-input-color" style="background: #39f5dc" readonly type="text" value="#39f5dc" /></td>
                                                                    <td><input name="sizes[]" class="my-attribute-input" readonly type="text" value="Small" /></td>
                                                                    <td><input name="quantity[]" class="my-attribute-input" readonly type="number" value="35"/></td>
                                                                    <td><input name="price[]" class="my-attribute-input" readonly type="number" value="100" /></td>
                                                                    <td>
                                                                        <a href="#" data-id="2" data-toggle="modal" data-target="#editAttributesModal" data-color="#39f5dc" data-size="Small" data-quantity="35" data-price="1500" style="color: black;"><button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a>
																		<button onClick="removeRow(2)" data-toggle="tooltip" title="Trash" class="pd-setting-ed" style="color: black; cursor:pointer"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>3</td>
                                                                    <td><input  name="colors[]" class="my-attribute-input my-attribute-input-color" style="background: #39f5dc" readonly type="text" value="#39f5dc" /></td>
                                                                    <td><input name="sizes[]" class="my-attribute-input" readonly type="text" value="Small" /></td>
                                                                    <td><input name="quantity[]" class="my-attribute-input" readonly type="number" value="35"/></td>
                                                                    <td><input name="price[]" class="my-attribute-input" readonly type="number" value="100" /></td>
                                                                    <td>
                                                                        <a href="#" data-id="3" data-toggle="modal" data-target="#editAttributesModal" data-color="#39f5dc" data-size="Small" data-quantity="35" data-price="1500" style="color: black;"><button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a>
																		<button onClick="removeRow(3)" data-toggle="tooltip" title="Trash" class="pd-setting-ed" style="color: black; cursor:pointer"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="payment-adress">
                                                        <!-- <button type="submit" class="btn btn-primary waves-effect waves-light">Submit</button> -->
                                                        <a href="/products/edit/1"><button type="submit" class="btn btn-primary waves-effect waves-light">Update</button></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
									<div id="addAttributesModal" class="modal modal-edu-general default-popup-PrimaryModal fade" role="dialog">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header header-color-modal bg-color-1">
													<h4 class="modal-title" style="color: white;">Add Attributes</h4>
													<div class="modal-close-area modal-close-df">
														<a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
													</div>
												</div>
												<form class="needs-validation" onsubmit="return onAddAtribute()" name="add-modal" novalidate>
													<div class="modal-body" style="padding: 0; text-align: left">
														<div style="padding: 20px; background-color: white; margin: 20px;">
														<div class="row">
																<div class="col-lg-6">
																	<div class="form-group">
																		<div class="colorpicker-inner ts-forms mg-b-23">
																			<div class="tsbox">
																				<label class="label"><b>Color:</b></label>
																				<label class="color-group" for="hex">
																					<input required name="proColorModal" class=" form-control" type="text" value="#ff0000" id="hex" readonly="">
																						<div class="invalid-feedback">
																							Please provide a valid color.
																						</div>
																				</label>
																			</div>
																		</div>
																	</div>
																	<div class="form-group">
																		<label for="addSizeBox">Size:</label>
																		<input required name="proSizeModal" id="addSizeBox" name="coursename" type="text"  class="form-control" placeholder="Size">
																		<div class="invalid-feedback">
																			Please provide a valid size.
																		</div>
																	</div>
																</div>
																<div class="col-lg-6">
																	<div class="form-group">
																		<label for="addQuantityBox">Quantity:</label>
																		<input required name="proQuantityModal" id="addQuantityBox" name="coursename" type="number" min="0" class="form-control" placeholder="Quantity">
																		<div class="invalid-feedback">
																			Please provide a valid quantity.
																		</div>
																	</div>
																	<div class="form-group">
																		<label for="addPriceBox">Price ($):</label>
																		<input required name="proPriceModal" id="addPriceBox" name="coursename" type="number" min="0"  class="form-control" placeholder="Price">
																		<div class="invalid-feedback">
																			Please provide a valid price.
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="modal-footer">
														<button class="btn btn-primary waves-effect waves-light" type="button" data-dismiss="modal">Cancel</button>
														<button class="btn btn-primary waves-effect waves-light" type="submit">Add</button>
													</div>
												</form>
											</div>
										</div>
									</div>
									
									<div id="editAttributesModal" class="modal modal-edu-general default-popup-PrimaryModal fade" role="dialog">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header header-color-modal bg-color-1">
													<h4 class="modal-title" style="color: white;">Edit Attributes</h4>
													<div class="modal-close-area modal-close-df">
														<a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
													</div>
												</div>
												<form class="needs-validation" onsubmit="return onEditAtribute()" name="edit-modal" novalidate>
													<div class="modal-body" style="padding: 0; text-align: left">
														<div style="padding: 20px; background-color: white; margin: 20px;">
															<div class="row">
																<div class="col-lg-6">
																	<div class="form-group">
																		<div class="colorpicker-inner ts-forms mg-b-23">
																			<div class="tsbox">
																				<label class="label"><b>Color:</b></label>
																				<label class="color-group" for="hex1">
																					<input required name="proEditColor" type="text" placeholder="#ff0000" id="hex1" readonly="">
																					<div class="invalid-feedback">
																						Please provide a valid color.
																					</div>
																				</label>
																			</div>
																		</div>
																	</div>
																	<div class="form-group">
																		<label for="editSizeBox">Size:</label>
																		<input required name="proEditSize" id="editSizeBox" name="coursename" type="text"  class="form-control" placeholder="Size">
																		<div class="invalid-feedback">
																			Please provide a valid size.
																		</div>
																	</div>
																</div>
																<div class="col-lg-6">
																	<div class="form-group">
																		<label for="editQuantityBox">Quantity:</label>
																		<input required name="proEditQuantity" id="editQuantityBox" name="coursename" type="number" min="0"  class="form-control" placeholder="Quantity">
																		<div class="invalid-feedback">
																			Please provide a valid Quantity.
																		</div>
																	</div>
																	<div class="form-group">
																		<label for="editPriceBox">Price ($):</label>
																		<input required name="proEditPrice" id="editPriceBox" name="coursename" type="number" min="0" class="form-control" placeholder="Price">
																		<div class="invalid-feedback">
																			Please provide a valid Quantity.
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="modal-footer">
													<button class="btn btn-primary waves-effect waves-light" type="button" data-dismiss="modal">Cancel</button>
													<button class="btn btn-primary waves-effect waves-light" type="submit">Update</button>
												</div>
												</form>
											</div>
										</div>
									</div>
                                </div>
                            </div>
                        </div>
                        <div class="product-tab-list tab-pane fade" id="reviews">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="review-content-section">
                                        <!-- <div id="dropzone1" class="pro-ad addcoursepro">
                                            <form action="#" class="dropzone dropzone-custom needsclick add-professors" id="demo1-upload"> -->
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <!-- <div class="form-group">
                                                            <input name="number" type="text" class="form-control" placeholder="Course Name" value="Apps Development">
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" placeholder="Course Start Date" value="12/10/2017">
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" placeholder="Course Duration" value="6 Months">
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" placeholder="Course Price" value="$400">
                                                        </div> -->
                                                        <div class="form-group">
                                                            <label>Image 1:</label>
                                                        </div>
                                                        <div class="form-group">
                                                            <img class="my-edit-img" src="/img/items/01.png" alt="" />
                                                            <button data-toggle="tooltip" title="Delete" class="pd-setting-ed"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Image 2:</label>
                                                        </div>
                                                        <div class="form-group">
                                                            <img class="my-edit-img" src="/img/items/01.png" alt="" />
                                                            <button data-toggle="tooltip" title="Delete" class="pd-setting-ed"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Add more images:</label>
                                                        </div>
                                                        <!-- <div class="form-group alert-up-pd">
                                                            <div class="dz-message needsclick download-custom">
                                                                <i class="fa fa-download edudropnone" aria-hidden="true"></i>
                                                                <h2 class="edudropnone">Drop image here or click to upload.</h2>
                                                                <p class="edudropnone"><span class="note needsclick">(This is just a demo dropzone. Selected image is <strong>not</strong> actually uploaded.)</span>
                                                                </p>
                                                                <input name="imageico" class="hd-pro-img" type="text" />
                                                            </div>
                                                        </div> -->
                                                        <div class="dropzone-pro mg-tb-30">
                                                            <div id="dropzone1" class="multi-uploader-cs">
                                                                <form action="/upload" class="dropzone dropzone-custom needsclick" id="demo1-upload">
                                                                    <div class="dz-message needsclick download-custom">
                                                                        <i class="fa fa-download" aria-hidden="true"></i>
                                                                        <h2>Drop files here or click to upload.</h2>
                                                                        <p><span class="note needsclick">(This is just a demo dropzone. Selected files are <strong>not</strong> actually uploaded.)</span>
                                                                        </p>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        <div class="form-group res-mg-t-15">
                                                            <input type="text" class="form-control" placeholder="Department" value="CSE">
                                                        </div>
                                                        <div class="form-group edit-ta-resize">
                                                            <textarea name="description">Lorem ipsum dolor sit amet of, consectetur adipiscing elitable. Vestibulum tincidunt est vitae ultrices accumsan.</textarea>
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" placeholder="Course Professor" value="Selima sha">
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" placeholder="Year" value="1 Year">
                                                        </div>
                                                    </div> -->
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="payment-adress">
                                                            <a href="/products/edit/1"><button type="submit" class="btn btn-primary waves-effect waves-light">Update</button></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            <!-- </form> -->
                                        <!-- </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-tab-list tab-pane fade" id="INFORMATION">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="review-content-section">
                                        <div class="chat-discussion" style="height: auto">
                                            <div class="chat-message">
                                                <!-- <div class="profile-hdtc">
                                                      <img class="message-avatar" src="/img/contact/1.jpg" alt="">
                                                </div> -->
                                                <div class="message" style="margin-left: 0px">
                                                    <a class="message-author" href="/users/guest/1"> Michael Smith </a>
                                                    <span class="message-date"> Mon Jan 26 2015 - 18:39:23 </span>
                                                    <span class="message-content"><b>Lorem ipsum dolor sit amet</b></span>
                                                    <span class="message-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                                    </span>
                                                    <div class="m-t-md mg-t-10">
                                                        <div class="review-item-rating">
                                                            <i class="educate-icon educate-star"></i>
                                                            <i class="educate-icon educate-star"></i>
                                                            <i class="educate-icon educate-star"></i>
                                                            <i class="educate-icon educate-star"></i>
                                                            <i class="educate-icon educate-star-half"></i>
                                                        </div>
                                                        <button title="Delete" class="pd-setting-ed" data-toggle="modal" data-target="#DangerModalalert1"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                                        <!-- <a class="btn btn-xs btn-default"><i class="fa fa-trash-o"></i></a> -->
                                                        <!-- <a class="btn btn-xs btn-success"><i class="fa fa-heart"></i> Love</a> -->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="chat-message">
                                                <!-- <div class="profile-hdtc">
                                                      <img class="message-avatar" src="/img/contact/2.jpg" alt="">
                                                </div> -->
                                                <div class="message" style="margin-left: 0px">
                                                    <a class="message-author" href="/users/guest/1"> Karl Jordan </a>
                                                    <span class="message-date">  Fri Jan 25 2015 - 11:12:36 </span>
                                                    <span class="message-content"><b>Lorem ipsum dolor sit amet</b></span>
                                                    <span class="message-content">
                                                            Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover.
                                                            </span>
                                                    <div class="m-t-md mg-t-10">
                                                        <div class="review-item-rating">
                                                            <i class="educate-icon educate-star"></i>
                                                            <i class="educate-icon educate-star"></i>
                                                            <i class="educate-icon educate-star"></i>
                                                            <i class="educate-icon educate-star"></i>
                                                            <i class="educate-icon educate-star-half"></i>
                                                        </div>
                                                        <button title="Delete" class="pd-setting-ed" data-toggle="modal" data-target="#DangerModalalert1"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="chat-message">
                                                <!-- <div class="profile-hdtc">
                                                      <img class="message-avatar" src="/img/contact/3.jpg" alt="">
                                                </div> -->
                                                <div class="message" style="margin-left: 0px">
                                                    <a class="message-author" href=""> Mark Smith </a>
                                                    <span class="message-date">  Fri Jan 25 2015 - 11:12:36 </span>
                                                    <span class="message-content"><b>Lorem ipsum dolor sit amet</b></span>
                                                    <span class="message-content">
                                                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.
                                                            </span>
                                                    <div class="m-t-md mg-t-10">
                                                        <div class="review-item-rating">
                                                            <i class="educate-icon educate-star"></i>
                                                            <i class="educate-icon educate-star"></i>
                                                            <i class="educate-icon educate-star"></i>
                                                            <i class="educate-icon educate-star"></i>
                                                            <i class="educate-icon educate-star"></i>
                                                        </div>
                                                        <button title="Delete" class="pd-setting-ed" data-toggle="modal" data-target="#DangerModalalert1"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="chat-message">
                                                <!-- <div class="profile-hdtc">
                                                      <img class="message-avatar" src="/img/contact/4.jpg" alt="">
                                                </div> -->
                                                <div class="message" style="margin-left: 0px">
                                                    <a class="message-author" href=""> Alice Jordan </a>
                                                    <span class="message-date">  Fri Jan 25 2015 - 11:12:36 </span>
                                                    <span class="message-content"><b>Lorem ipsum dolor sit amet</b></span>
                                                    <span class="message-content">
                                                            All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
                                                                It uses a dictionary of over 200 Latin words.
                                                            </span>
                                                    <div class="m-t-md mg-t-10">
                                                        <div class="review-item-rating">
                                                            <i class="educate-icon educate-star"></i>
                                                            <i class="educate-icon educate-star"></i>
                                                            <i class="educate-icon educate-star"></i>
                                                            <i class="educate-icon educate-star"></i>
                                                            <i class="educate-icon educate-star"></i>
                                                        </div>
                                                        <button title="Delete" class="pd-setting-ed" data-toggle="modal" data-target="#DangerModalalert1"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="DangerModalalert" class="modal modal-edu-general FullColor-popup-DangerModal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-close-area modal-close-df">
                                <a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
                            </div>
                            <div class="modal-body">
                                <span class="educate-icon educate-danger modal-check-pro information-icon-pro"></span>
                                <h2>Delete this product?</h2>
                                <!-- <p>If you delete this product, they can not access the shop's website anymore.</p> -->
                            </div>
                            <div class="modal-footer danger-md">
                                <a data-dismiss="modal" href="#">Cancel</a>
                                <a href="/products">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="DangerModalalert1" class="modal modal-edu-general FullColor-popup-DangerModal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-close-area modal-close-df">
                                <a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
                            </div>
                            <div class="modal-body">
                                <span class="educate-icon educate-danger modal-check-pro information-icon-pro"></span>
                                <h2>Delete this review?</h2>
                                <p>If you delete this review, it can not be shown on the shop's website anymore.</p>
                            </div>
                            <div class="modal-footer danger-md">
                                <a data-dismiss="modal" href="#">Cancel</a>
                                <a href="/products/edit/1">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jquery
		============================================ -->
    <script src="/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
		============================================ -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- wow JS
		============================================ -->
    <script src="/js/wow.min.js"></script>
    <!-- price-slider JS
		============================================ -->
    <script src="/js/jquery-price-slider.js"></script>
    <!-- meanmenu JS
		============================================ -->
    <script src="/js/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS
		============================================ -->
    <script src="/js/owl.carousel.min.js"></script>
    <!-- sticky JS
		============================================ -->
    <script src="/js/jquery.sticky.js"></script>
    <!-- scrollUp JS
		============================================ -->
    <script src="/js/jquery.scrollUp.min.js"></script>
    <!-- counterup JS
		============================================ -->
    <script src="/js/counterup/jquery.counterup.min.js"></script>
    <script src="/js/counterup/waypoints.min.js"></script>
    <script src="/js/counterup/counterup-active.js"></script>
    <!-- dropzone JS
		============================================ -->
    <script src="/js/dropzone/dropzone.js"></script>
    <!-- mCustomScrollbar JS
		============================================ -->
    <script src="/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/js/scrollbar/mCustomScrollbar-active.js"></script>
    <!-- metisMenu JS
		============================================ -->
    <script src="/js/metisMenu/metisMenu.min.js"></script>
    <script src="/js/metisMenu/metisMenu-active.js"></script>
    <!-- data table JS
		============================================ -->
    <script src="/js/data-table/bootstrap-table.js"></script>
    <script src="/js/data-table/tableExport.js"></script>
    <script src="/js/data-table/data-table-active.js"></script>
    <script src="/js/data-table/bootstrap-table-editable.js"></script>
    <script src="/js/data-table/bootstrap-editable.js"></script>
    <script src="/js/data-table/bootstrap-table-resizable.js"></script>
    <script src="/js/data-table/colResizable-1.5.source.js"></script>
    <script src="/js/data-table/bootstrap-table-export.js"></script>
    <!--  editable JS
        ============================================ -->
    <script src="/js/editable/jquery.mockjax.js"></script>
    <script src="/js/editable/mock-active.js"></script>
    <script src="/js/editable/select2.js"></script>
    <script src="/js/editable/moment.min.js"></script>
    <script src="/js/editable/bootstrap-datetimepicker.js"></script>
    <script src="/js/editable/bootstrap-editable.js"></script>
    <script src="/js/editable/xediable-active.js"></script>
    <!-- datapicker JS
		============================================ -->
    <script src="/js/datapicker/bootstrap-datepicker.js"></script>
    <script src="/js/datapicker/datepicker-active.js"></script>
    <!-- colorpicker JS
		============================================ -->
    <script src="/js/colorpicker/jquery.spectrum.min.js"></script>
    <script src="/js/colorpicker/color-picker-active.js"></script>
    <!-- Chart JS
        ============================================ -->
    <script src="/js/chart/jquery.peity.min.js"></script>
    <script src="/js/peity/peity-active.js"></script>
    <!-- tab JS
        ============================================ -->
    <script src="/js/tab.js"></script>
    <!-- morrisjs JS
		============================================ -->
    <script src="/js/morrisjs/raphael-min.js"></script>
    <script src="/js/morrisjs/morris.js"></script>
    <script src="/js/morrisjs/morris-active.js"></script>
    <!-- morrisjs JS
		============================================ -->
    <script src="/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="/js/sparkline/jquery.charts-sparkline.js"></script>
    <script src="/js/sparkline/sparkline-active.js"></script>
    <!-- calendar JS
		============================================ -->
    <script src="/js/calendar/moment.min.js"></script>
    <script src="/js/calendar/fullcalendar.min.js"></script>
    <script src="/js/calendar/fullcalendar-active.js"></script>
    <!-- plugins JS
		============================================ -->
    <script src="/js/plugins.js"></script>
    <!-- main JS
		============================================ -->
    <script src="/js/main.js"></script>
    <!-- tawk chat JS
		============================================ -->
    <!-- <script src="/js/tawk-chat.js"></script> -->
   <script>
		let attriRowId;
        $(document).ready(function(){
            const myAddProductForm = document.forms["add-product-form"];
          
            $('#editAttributesModal').on('show.bs.modal', function (event) {
                const button = $(event.relatedTarget) ;// Button that triggered the modal
                const recipient1 = button.data('color'); // Extract info from data-* attributes
                const recipient2 = button.data('size');
                const recipient3 = button.data('quantity');
                const recipient4 = button.data('price');
				attriRowId = button.data("id");
                const modal = $(this);
                $("#hex1").spectrum({
                    color: recipient1,
                    preferredFormat: "hex",
                    showInput: true,
                });

                modal.find('.modal-body #hex1').val(recipient1);
                $("#hex1").css({
                    display: "block",
                });
                modal.find('.modal-body #editSizeBox').val(recipient2);
                modal.find('.modal-body #editQuantityBox').val(recipient3);
                modal.find('.modal-body #editPriceBox').val(recipient4);
            });

			// Fetch all the forms we want to apply custom Bootstrap validation styles to
			var forms = document.getElementsByClassName('needs-validation');
			// Loop over them and prevent submission
			var validation = Array.prototype.filter.call(forms, function(form) {
				form.addEventListener('submit', function(event) {
				if (form.checkValidity() === false) {
					event.preventDefault();
					event.stopPropagation();
				}else{
				}
				
				form.classList.add('was-validated');
				}, false);
			});
			
			
		});

		function removeRow(row){
			const attriTable = document.getElementById("product-attri-table");
			attriTable.deleteRow(row);
		}
		function onEditAtribute(){
			let editAttriForm = document.forms["edit-modal"];
			if(editAttriForm.checkValidity()){
				let colors = document.getElementsByName("colors[]");
				let sizes = document.getElementsByName("sizes[]");
				let prices = document.getElementsByName("price[]");
				let quantity = document.getElementsByName("quantity[]");
				let colorBox = editAttriForm["proColorModal"];
				let sizeBox = editAttriForm["proSizeModal"];
				let priceBox = editAttriForm["proPriceModal"];
				let quantityBox = editAttriForm["proQuantityModal"];
				colors[attriRowId-1].value = colorBox.value;
				sizes[attriRowId-1].value = sizeBox.value;
				prices[attriRowId-1].value = priceBox.value;
				quantity[attriRowId-1].value = quantityBox.value;
				$("#editAttributesModal").modal('hide');
			}
			return false;
		}

		function onAddAtribute(){
			let addAttriForm = document.forms["add-modal"];
			console.log("add");
			if(addAttriForm.checkValidity()){
				let colorBox = addAttriForm["proColorModal"];
				let sizeBox = addAttriForm["proSizeModal"];
				let priceBox = addAttriForm["proPriceModal"];
				let quantityBox = addAttriForm["proQuantityModal"];
				const attriTable = $("#product-attri-table");	
				const newRow = `
				<tr>
					<td>` + $("#product-attri-table tr").length + `</td>
					<td> <input name="colors[]" class="my-attribute-input my-attribute-input-color" style="background: ${colorBox.value}" readonly type="text" value=${colorBox.value} /></td>
					<td> <input name="sizes[]" class="my-attribute-input" readonly type="text" value=${sizeBox.value} /></td>
					<td> <input name="quantity[]" class="my-attribute-input" readonly type="number" value=${quantityBox.value} /></td>
					<td> <input name="price[]" class="my-attribute-input" readonly type="number" value=${priceBox.value} /></td>
					<td> 
						<a href="#" data-toggle="modal" data-target="#editAttributesModal" data-id=${ $("#product-attri-table tr").length} data-color=${colorBox.value} data-size=${sizeBox.value} data-quantity=${quantityBox.value} data-price=${priceBox.value} style="color: black; cursor:pointer;"><button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a>
						<button onClick="removeRow(${$("#product-attri-table tr").length})" data-toggle="tooltip" title="Trash" class="pd-setting-ed" style="color: black; cursor:pointer"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
					</td>
				</tr>	
				`;
				{{!-- <tr>
					<th>No</th>
					<th>Color</th>
					<th>Size</th>
					<th>Quantity</th>
					<th>Price ($)</th>
					<th>Setting</th>
				</tr> --}}
				attriTable.append(newRow);
				$("#addAttributesModal").modal('hide');
			}
			return false;
		}
    </script>